$body-bg: rgb(216, 213, 210);
$main-color: rgb(172, 140, 111);
$inner-color: rgb(230, 222, 213);

body {
    color: $main-color;
    padding: 2rem 10% 0rem 10%;
    background-color: $body-bg;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

.grid {
    display: grid;
    gap: 0.7rem;
    grid-template-rows: repeat(4, 5rem);
    grid-template-columns: repeat(4, 5rem);
    background-color: $main-color;
    border: 0.7rem solid $main-color;
    border-radius: 0.7rem;
    width: min-content;
    margin: 0rem auto 2rem auto;

    div {
        border-radius: 0.5rem;
        border: 0.2rem solid $main-color;
        background-color: $inner-color;
    }

    span {
        display: block;
        font-size: 3rem;
        margin: 0.5rem auto;
        width: min-content;
        height: min-content;
    }
}

.btn-group  {
    display: flex;

    > button {
        height: 2rem;
        width: 15rem;
        background-color: $main-color;
        color: white;
        font-size: 1.5rem;
        font-family: sans-serif;
        font-weight: 900%;
        border: 0.1rem solid $main-color;
        border-radius: 0.7rem;
    }
}

.new-game {
    margin: 0rem 0.5rem 0rem auto;
}

.help {
    margin: 0rem auto 0rem 0.5rem;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    > p {
        background-color: $inner-color;
        font-size: 1.5rem;
        width: fit-content;
        margin: 2rem auto 0 auto;
        padding: 1rem;
        border-radius: 0.7rem;
        border: 0.4rem solid $main-color;
    }

    label, input {
        font-size: 1.5rem;
    }

    input {
        height: 2rem;
        width: 15rem;
        display: block;
        margin-bottom: 1rem;
        text-align: center;
        color: $main-color
    }

    button {
        display: block;
        margin: 0 auto;
        height: 3rem;
        width: 7rem;
        font-size: 1.5rem;
        color: $main-color;
    }

    form {
        padding: 3rem;
        width: fit-content;
        margin: 5rem auto 0 auto;
        background-color: $inner-color;
        border-radius: 0.7rem;
        border: 0.4rem solid $main-color;
    }
}