.history-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 2rem;
    border: 0.2rem solid rgb(7, 95, 29);
}

.history-item:nth-child(odd) {
    grid-template-areas: 
        "img img head head head"
        "img img desc desc desc"
        "img img desc desc desc";
}

.history-item:nth-child(even) {
    grid-template-areas: 
        "head head head img img"
        "desc desc desc img img"
        "desc desc desc img img";
}

.history-item > img {
    height: 30rem;
    width: 100%;
    grid-area: img;
}

.history-item > h2 {
    text-align: center;
    grid-area: head;
}

.history-item > p {
    grid-area: desc;
    font-size: 1.5rem;
}