body {
    background-color: #E8FABC;
}

.navbar-list {
    list-style: none;
    background-color: #B4A471;
    padding: 0.5rem;
    margin: 0px;
}

.navbar-list > li {
    display: inline-block;
}

.navbar-list > li > a {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    border: 0.2rem solid #654F0B;
    background-color: #087F0F;
    color: #CBBD07;
    font-size: 1.5rem;
}

footer {
    color: #874515;
    background-color: #CBDAA9;
}

footer div {
    display: inline-block;
    vertical-align: top;
    margin-right: 25rem;
    padding: 1rem 0rem 1rem 0rem;
}

footer div:first-child {
    padding-left: 4rem;
}

footer div:last-child {
    margin-right: 0rem;
}

footer ul {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
}

footer li {
    font-size: 1.2rem;
}

footer h3 {
    font-size: 1.4rem;
    margin: 0rem 0rem 1rem 0rem;
}

footer p {
    font-size: 1.2rem;
    margin: 0rem;
}